

.full-image {
	width: 100%;
	height: auto;
	padding: 0;
}

.half-image {
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.quarter-image {
	width: 25%;
	height: auto;	
}

.avatar {
	width: 15%;
	border-radius: 50%;
	background-color: blue;
}

.caption {
	font-family: 'Barlow', sans-serif;
	font-size: 0.7rem;
	line-height: 0.4rem;
}	